@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --background-color: #171717;
    --text-color: #ffffff;
    --secondary-background: #1e1e1e;
    --switch-background: #ccc;
    --switch-active: #2196F3;
}

.light-theme {
    --background-color: #ffffff;
    --text-color: #171717;
    --secondary-background: #f0f0f0;
    --switch-background: #eee;
    --switch-active: #4CAF50;
}
body{
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.5s, color 0.5s;
}

.container {
    background: var(--background-color);
    color: var(--text-color);
    padding: 2rem;
    width: 40%;
    margin: 4rem auto;
    border-radius: 10px;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.switch input {display: none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-color);
    transition: background-color 0.4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    transition: transform 0.4s ease, background-color 0.4s ease;
    border-radius: 50%;
}
input:checked + .slider {background-color: var(--switch-active)}
input:checked + .slider:before {transform: translateX(20px);}

.weather__clear{
    background: linear-gradient(to right,#f8d800,#fdeb71);
}
.weather__cloudy {
    background: linear-gradient(to right, #bdc3c7,#2c3e50);
}
.weather__rain{
    background: linear-gradient((to right,#2b5876,#4e4376));
}
.weather__snow{background: linear-gradient(to right,#E0EAFC,#cfdef3);
}

.weather__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    border: none;
    background: var(--secondary-background);
    outline: none;
    color: var(--text-color);
    padding: 0.5rem 2.5rem;
    border-radius: 5px;
}

input::placeholder {
    color: var(--text-color);
}

.weather__search {
    position: relative;
}

.weather__search i {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 15px;
    color: var(--text-color);
}

.weather__units {
    font-size: 1.5rem;
}

.weather__units span {
    cursor: pointer;
}

.weather__units span:first-child {
    margin-right: 0.5rem;
}

.weather__body {
    text-align: center;
    margin-top: 3rem;
}

.weather__datetime {
    margin-bottom: 2rem;
    font-size: 14px;
}

.weather__forecast {
    background: var(--secondary-background);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 30px;
}

.weather__icon img {
    width: 100px;
}

.weather__temperature {
    font-size: 1.75rem;
}

.weather__minmax {
    display: flex;
    justify-content: center;
}

.weather__minmax p {
    font-size: 14px;
    margin: 0.5rem;
}

.weather__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: 3rem;
}

.weather__card {
    display: flex;
    align-items: center;
    background: var(--secondary-background);
    color: var(--text-color);
    padding: 1rem;
    border-radius: 10px;
}

.weather__card i {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.weather__card p {
    font-size: 14px;
}

@media(max-width: 936px){
    .container {
        width: 90%;
    }

    .weather__header {
        flex-direction: column;
    }

    .weather__units {
        margin-top: 1rem;
    }
}


@media(max-width: 400px){
    .weather__info {
        grid-template-columns: none;
    }
}
